@model Polypack.ViewModel.AllDatas
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int a = 1;
    int b = 1;
}

<!-- Slider area Start -->
<div id="particles-js-area" style="background-image: url(/Uploads/@Model.Header.Photo)">
    <div class="alive-hero-item alive-slider-item-bg-1 overlay-gradient">
        <div id="particles-js"></div>
        <div class="alive-hero-item-table">
            <div class="alive-hero-item-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center">
                            <div class="hero-text">
                                <h1 class="uppercase white-color">@Model.Header.Title</h1>
                                <p>@Model.Header.Subtitle</p>

                                <a class="alive-btn slide-btn" href="#contact">BİZİMLƏ ƏLAQƏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider area End -->



<section id="tabs-section" class="home-section">
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <header class="section-header animated " data-animation="fadeInUp">
                        <div class="icon-line"><i class="fa flaticon-wrench44"></i></div>
                        <div class="heading-wrap">
                            <h2 class="heading"><span>HAQQIMIZDA</span></h2>
                        </div>
                    </header>
                </div>
            </div>
            <div class="ver-tabs">
                <div class="row">
                    <div class="col-md-5">
                        <nav class="nav-sidebar">
                            <ul class="nav tabs">
                                @foreach (var items in Model.Abouts)
                                {
                                    <li class="@(a==1?"active":"")">
                                        <a href="#tab-@items.Id" data-toggle="tab">
                                            <div class="fa-box"> <i class="@items.IconName"></i></div>
                                            <div class="fa-content">
                                                <h4>@items.IconTitle</h4>
                                                <p>@items.IconSubtitle</p>
                                            </div>
                                        </a>
                                    </li>
                                    a++;
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-7">
                        <!-- tab content -->
                        <div class="tab-content">
                            @foreach (var items in Model.Abouts)
                            {
                                <div class="tab-pane @(b==1?"active":"") text-style" id="tab-@items.Id">

                                    <h1>@items.IconTitle</h1>
                                    <p>
                                        @items.Answer
                                    </p>
                                </div>
                                b++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="home-section">
    <div id="products">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <header class="section-header animated " data-animation="fadeInUp">
                        <div class="icon-line"> <i class="fa flaticon-wrench44 "></i></div>
                        <div class="heading-wrap">
                            <h2 class="heading"><span>ÇEŞİDLƏRİMİZ</span></h2>
                        </div>
                    </header>
                </div>
            </div>
        </div>


        <div class="section" id="main">
            <div class="container">

                <div class="row area" data-page="2">
                        @foreach (var items in Model.Categories)
                        {
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <a class="cat-item" data-id="@items.Id">
                                    <div class="img_section">

                                        <img src="~/Uploads/@items.Photo" alt="">
                                        <p>@items.Name</p>

                                    </div>
                                </a>
                            </div>
                        }
                </div>
                    

                <div class="row">
                    <nav class="pagination-wrap">
                        <ul class="pagination" data-animation="fadeInUp">
                            <li><a class="btn btn-prev load-more"> Daha Çox </a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <hr class=" separator_20">
    </div>
</section>


<section class="home-section section-preset1 ">
    <div class="video-box">
        <div class="video-box-left" data-animation="">
            <div class="video-box-info">
                @Html.Raw(Model.WeProvide.TextSection)
            </div>

        </div>
        <div class="video-box-right" data-animation="">
            <img width="800" height="580" alt="PROJECT DEVELOPMENT" src="~/Uploads/@Model.WeProvide.Photo">
        </div>
    </div>
</section>

<section id="charstart" class="no-bg-color-parallax parallax-black home-section ">
    <ul class="bg-slideshow">
        <li>
            <div style="background-image:url(/Uploads/@Model.Contact.Photo)" class="bg-slide"></div>
        </li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                @foreach (var item in Model.Banners)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="featured-item-simple-icon animated text-center animation-done fadeInUp" data-animation="fadeInUp">
                            <div class="ft-icons-simple"><i class="@item.IconName"></i> </div>
                            <span class="chart" data-percent="@item.IconPercentage"> <span class="percent"></span> </span>
                            <h6>@item.IconTitle</h6>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<section class="home-section">
    <div id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <header class="section-header animated " data-animation="fadeInUp">
                        <div class="icon-line"> <i class="fa flaticon-repair15"></i></div>
                        <div class="heading-wrap">
                            <h2 class="heading"><span>XİDMƏTLƏRİMİZ</span></h2>
                        </div>
                    </header>
                </div>
            </div>
        </div>

        <div class="bg-simple animated " data-animation="fadeInUp">
            <div class="container">
                <div class="row">
                    @foreach (var items in Model.Services)
                    {
                        <div class="col-md-3 col-xs-12 col-sm-6 ">
                            <div class="box-icon-and-button  box-border-left">
                                <i class="@items.IconName"></i>
                                <h3>@items.IconTitle</h3>
                                <div class="subtext">
                                    <p>
                                        @items.IconSubtitle
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<section class="home-section">
    <div id="brand">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="section-header section-simple animated " data-animation="fadeInUp">
                        <div class="icon-line">
                            <h3>TƏRƏFDAŞLARIMIZ</h3>
                        </div>
                    </header>
                </div>
            </div>
        </div>


        <section class="carousel-brand animated " data-animation="fadeInUp">
            <div class="container">
                <div class="row">
                    @foreach (var items in Model.Partners)
                    {
                        <a class="col-xs-6 col-sm-6 col-md-6 col-lg-3 item">
                            <div class="item__img">
                                <img src="~/Uploads/@items.Photo" style="height:100%;">
                            </div>
                        </a>
                    }
                </div>
            </div>

        </section>
    </div>



</section>


<section class="home-section section-preset2 ">
    <div id="contact">
        <div class="full-width-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="full-width-left animated " data-animation="fadeInLeft">
                        <img class="responsive-img" width="800" height="447" src="~/Assets/media/home/contactus.jpg" alt="alt">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full-width-right animated " data-animation="fadeInRight">


                        <form name="sentMessage animated" action="@Url.Action("message","home", new { Area=""})" method="post" data-animation="bounceInUp" class="contactForm" id="contactForm"
                              novalidate>
                            <h3 class="light-font">Bizə Yazın</h3>
                            <h2>Sizə Geri Dönərik</h2>
                            <p>&nbsp; </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="FullName" placeholder="Adınız" id="name" required
                                                       data-validation-required-message="Adınızı və soyadınızı yazın">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="email" name="Email" class="form-control" placeholder="E-poçt" id="email" required
                                                       data-validation-required-message="E-poçt boş ola bilməz">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" name="Subject" class="form-control" placeholder="Mesaj Başlığı" id="subject" required
                                                       data-validation-required-message="Mesaj başlığını doldurun">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group-text">
                                        <textarea class="form-control" name="Text" placeholder="Mesajınız" id="message" required
                                                  data-validation-required-message="Mesaj bölməsini doldurun"></textarea>
                                        <p class="help-block text-danger"></p>
                                        <div id="success"></div>
                                        <p class="text-right">
                                            <button type="submit" class="btn btn-primary btn-icon-right">
                                                <span class="btn-icon">
                                                    Göndər<i class="fa fa-long-arrow-right"></i>
                                                </span>
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!--Contact form-->
                        <script src="~/Assets/plugins/contact/jqBootstrapValidation.js"></script>
                        <script src="~/Assets/plugins/contact/contact_me.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="pre-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="pre-fot-box">
                    <div class="btn-icon"><i class="fa fa-phone"></i></div>
                    <h4>
                        @Model.Contact.Info
                    </h4>
                    <h5>@Model.Contact.Num</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pre-fot-box">
                    <div class="btn-icon"><i class="fa fa-envelope"></i></div>
                    <h4>@Model.Contact.EmailInfo</h4>
                    <h5>@Model.Contact.Email</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pre-fot-box">
                    <div class="btn-icon"><i class="fa fa-clock-o"></i></div>
                    <h4>@Model.Contact.OpenHours</h4>
                    <h5>@Model.Contact.Text</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="fot-box">
                    <h3 class="fot-title">Bölmələr</h3>
                    <ul class="x-hover-box">
                        <li>
                            <a class="nav-link scroll-animite" href="#home">Ana Səhifə</a>
                        </li>
                        <li>
                            <a class="nav-link scroll-animite" href="#about">Haqqımızda</a>
                        </li>
                        <li>
                            <a class="nav-link scroll-animite to-back" href="#products">Məhsullarımız</a>
                        </li>
                        <li>
                            <a class="nav-link scroll-animite" href="#services">Xidmətlərimiz</a>
                        </li>
                        <li>
                            <a class="nav-link scroll-animite" href="#brand">Tərəfdaşlarımız</a>
                        </li>
                        <li>
                            <a class="nav-link scroll-animite" href="#contact">Bizimlə Əlaqə</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="fot-box">
                    <h3 class="fot-title">Məhsullarımız</h3>
                    <ul class="x-hover-box">
                        @foreach (var items in Model.Categories)
                        {
                            <li><a href="#products">@items.Name</a> </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="fot-box">
                    <h3 class="fot-title">ÜNVAN</h3>
                    <div class="media fot-contact">
                        <div class="media-body">
                            <p style="color: #ccc">
                                <i class="fa fa-map-marker d-flex align-items-center ml-2"></i>
                                <br>
                                @Model.Contact.Adress
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


