@model IEnumerable<Polypack.Models.Service>

@{
    ViewBag.Title = "Index";
}

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                    <div class="col-xl-12 order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <h3 class="mb-0">Xidmətlərimiz bölməsi</h3>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <div class="col-3">
                                            <a href="@Url.Action("index","dashboard", new { Area="Manage" })" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IconName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IconTitle)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IconSubtitle)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IconName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IconTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IconSubtitle)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("edit",new { id = item.Id })" class="btn btn-sm btn-info">Redaktə et</a>
                                    </td>
                                </tr>
                                    }

                                </table>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

