@model IEnumerable<Polypack.Models.WeProvide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout1.cshtml";
}

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                    <div class="col-xl-12 order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <h3 class="mb-0">Temin Edirik bölməsi</h3>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <div class="col-3">
                                            <a href="@Url.Action("index","dashboard", new { Area="Manage" })" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TextSection)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Photo)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.Raw(item.TextSection)
                                            </td>
                                            <td>
                                                <img src="~/Uploads/@item.Photo" width="100" />
                                            </td>
                                            <td>
                                                <a href="@Url.Action("edit",new { id = item.Id })" class="btn btn-sm btn-info">Redaktə Et</a>
                                                <a href="@Url.Action("details",new { id = item.Id })" class="btn btn-sm btn-success">Ətraflı Bax</a>
                                            </td>
                                        </tr>
                                    }

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
