@model List<Polypack.Models.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout1.cshtml";
}

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 mb-4">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Mesajlar bölməsi</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="@Url.Action("index","dashboard", new { Area="Manage" })" class="btn btn-sm btn-primary toback"><i class="ni ni-bold-left"></i>Geri Qayıt</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Ad və Soyad
                                        </th>
                                        <th>
                                            E-poçt ünvanı
                                        </th>
                                        <th>
                                            Başlıq
                                        </th>
                                        <th>
                                            Mesaj bölməsi
                                        </th>
                                        <th>
                                            Tarix
                                        </th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.FullName
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                            <td>
                                                @item.Subject
                                            </td>
                                            <td>
                                                @item.Text
                                            </td>
                                            <td>
                                                @item.Date.Value.ToString("dd.MM.yyyy HH:mm")
                                            </td>
                                            <td>
                                                <a href="@Url.Action("details",new {Area="manage", id = item.Id })" class="btn btn-sm btn-info">Ətraflı</a>
                                                <a onclick="return confirm('Bu mesajı silmək istədiyinizə əminsiniz?')" href="@Url.Action("delete",new { id = item.Id })" class="btn btn-sm btn-danger">Sil</a>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>